body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#chartDiv{
  height: 400px;
  margin: auto;
}
div{
  float: none;
  margin: auto;
}

body, html{
  height: 100%;
}